.jumbotron
  %h1 Дипломный проект
  %p.lead Разработка WEB-приложения для кооперативного одновременного написания кода
  %p
    %a.btn.btn-lg.btn-success{href: new_user_path, role: "button"} Зарегистрироваться
