%ul.nav.nav-pills.nav-stacked{style: "max-width: 300px;"}
  %li
    = link_to 'Мои документы', account_documents_path
    = link_to 'Доступные мне документы', account_documents_path
    = link_to 'Профиль', account_documents_path
