/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require select2
 *= require select2-bootstrap
 *= require ./jumbotron_narrow
 *= require_tree ./lib
 */

@import "bootstrap";

html, body {
  height: 100%;
}

#application {
  height: 100%;
  margin-top: -30px;
}

.app-container {
  height: 602px;
  width: 100%;
  position: absolute;
}

.top-row {
  top: 0;
  left: 0;
  position: relative;
  width: 100%;
  height: 70%;
}

.bottom-row {
  left: 0;
  position: relative;
  width: 100%;
  height: 30%;
}

#editor {
  position: absolute;
  left: 0;
  width: 70%;
  height: 100%;
}

.chat {
  position: absolute;
  left: 70%;
  width: 15%;
  height: 100%;
  background-color: whitesmoke;
  box-size: border-box;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;

  .messages {
    height: 265px;
    overflow-y: scroll;
  }

  .form {
    position: absolute;
    top: 85%;
    left: 15px;
  }
}

.users {
  position: absolute;
  left: 85%;
  width: 15%;
  height: 100%;
  background-color: whitesmoke;
  box-size: border-box;

  .users-list {
    list-style-type: none;
    padding-left: 10px;
  }
}

#application .header {
  margin-bottom: 15px;
}

.header {
  background-color: rgba(0,0,0,.03);
  margin: 0px;
  padding: 10px 5px 5px 5px;

  h4 {
    margin: 0;
    padding: 5px 5px;
  }
}

.inner-container {

  .body {
  }

  .media {
    border-bottom: 1px solid #e1e1e8;
    padding-left: 10px;
    margin-bottom: 5px;
  }

  .media:nth-child(even) {
    background-color: #f7f7f9;
  }
}


.runs {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #FCFCFC;
  box-size: border-box;
  border-top: 2px solid #e5e5e5;
}

