/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require ./jumbotron_narrow
 */

@import "bootstrap";

html, body {
  height: 100%;
}

#application {
  height: 100%;
  margin-top: -30px;
}

.app-container {
  height: 602px;
  width: 100%;
  position: absolute;
}

.top-row {
  top: 0;
  left: 0;
  position: relative;
  width: 100%;
  height: 70%;
}

.bottom-row {
  left: 0;
  position: relative;
  width: 100%;
  height: 30%;
}

#editor {
  position: absolute;
  left: 0;
  width: 60%;
  height: 100%;
}

.chat {
  position: absolute;
  left: 60%;
  width: 20%;
  height: 100%;
  background-color: blue;
}

.users {
  position: absolute;
  left: 80%;
  width: 20%;
  height: 100%;
  background-color: gray;
}

.runs {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: green;
}

